.avater {
  background-color: black;
  color: black;
  position: relative;
  width: 70px;
  height: 70px;
  border-radius: 50% !important;
  border-style: solid;
  border-color: black;
  text-align: center;
  padding-top: 15px;
  top: -20px;
  left: -3px;
  
}

.table-gin{
  margin-left: -19rem;
}

.dashboard-stat {
  overflow: visible;
  height: 220px;
}

.panel {
  padding: 30px;
}

.form-control {
  outline: 0 !important;
}

.font {
  font-family: "Open Sans",sans-serif;
}

.badge {
  font-size: 11px!important;
  font-weight: 300;
  height: 18px;
  color: #fff;
  background-color:#32c5d2;
  padding: 3px 6px;
  -webkit-border-radius: 12px!important;
  -moz-border-radius: 12px!important;
  border-radius: 12px!important;
  text-shadow: none!important;
  text-align: center;
  vertical-align: middle;
  position: absolute;
    top: 4px;
    right: 0px;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: darkgrey;
  color: white;
}
tr:hover {background-color: #ddd;}
tr:nth-child(even){background-color: #f2f2f2;}
td,th {
  border: 1px solid #ddd;
  padding: 8px;
}
#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 50%;
}